@model Marca

@{
	ViewData["Title"] = "Nova Marca";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="Create">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<span class="colorRed">* </span><label asp-for="Nome" class="control-label"></label>
						<input asp-for="Nome" class="form-control" maxlength="50" />
						<span asp-validation-for="Nome" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="bs-example" data-example-ids="select-form-control">
						<span class="colorRed">* </span><label asp-for="CodStatus" class="control-label"></label>
						<select class="form-control" asp-for="CodStatus">
							<option value="" selected>Selecione</option>
							<option value="1">Ativo</option>
							<option value="0">Cancelado</option>
						</select>
						<span asp-validation-for="CodStatus" class="text-danger"></span>
					</div>
				</div>
			</div>

			<hr />
			<br />
			<div class="form-group">
				<a class="btn btn-light" asp-action="Index">Voltar</a>
				<input type="submit" value="Salvar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>